.controls {
  position: absolute;
  top: 20px;
  right: 82%;
  width: 150px;
  transform: translateX(-50%);
  z-index: 100;
}
header {
  position: absolute;
  top: 20px;
  right: 27%;
  transform: translateX(-50%);
  z-index: 100;
}
.play,
.pause,
.songs,
.numbers,
.controls,
.rings,
.spheres {
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.1em;
  background-color: rgba(34, 34, 34, 0.8);
}
.songs:focus,
.numbers:focus {
  outline: none;
}
.pause,
.songs,
.numbers,
.play,
.rings,
.spheres {
  margin-left: 20px;
}
