body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.controls {
  position: absolute;
  top: 20px;
  right: 82%;
  width: 150px;
  transform: translateX(-50%);
  z-index: 100;
}
header {
  position: absolute;
  top: 20px;
  right: 33%;
  transform: translateX(-50%);
  z-index: 100;
}
button,
.controls,
select {
  color: rgb(255, 255, 255);
  border: 1rem solid rgba(34, 34, 34, 0.8);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.1em;
  background-color: rgba(34, 34, 34, 0.8);
}
select:focus {
  outline: none;
}
button,
select {
  margin-left: 20px;
}
