body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.controls {
  position: absolute;
  top: 20px;
  right: 82%;
  width: 150px;
  transform: translateX(-50%);
  z-index: 100;
}
header {
  position: absolute;
  top: 20px;
  right: 27%;
  transform: translateX(-50%);
  z-index: 100;
}
.play,
.pause,
.songs,
.numbers,
.controls,
.rings,
.spheres {
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.1em;
  background-color: rgba(34, 34, 34, 0.8);
}
.songs:focus,
.numbers:focus {
  outline: none;
}
.pause,
.songs,
.numbers,
.play,
.rings,
.spheres {
  margin-left: 20px;
}
